<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
<base target="_blank">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>薄荷网址导航</title>
<meta name="keywords" content="上网导航,网址大全,网址导航"/>
<meta name="description" content="汇集最优秀的网站及资源。及时收录影视、音乐、小说、游戏等分类的网址和内容，让您的网络生活更简单精彩。"/>
<link type="image/x-icon" href="https://www.404le.com/favicon.ico" rel="SHORTCUT ICON" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
<link href="/style/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">

</script>
</head>

<body style="background:url(https://i.loli.net/2020/03/12/WMigESPy2KRLqcY.jpg)no-repeat 50% -1px" >

<div class="container" style=" padding-top: 10px; " >
        <div style="padding-left: 1px;margin-top: 20px;">
		    <iframe allowtransparency="true" frameborder="0" width="360" height="64" scrolling="no" src="//tianqi.2345.com/plugin/widget/index.htm?s=2&z=3&t=1&v=2&d=2&bd=0&k=&f=&ltf=009944&htf=cc0000&q=0&e=1&a=1&c=54511&w=360&h=64&align=left"></iframe>
        </div>
        <div style="width: 180px; height:74px;  overflow:hidden;padding-left: 460px;margin-top: -85px;">
			<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="https://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="200" height="88">
			<param name="movie" value="/image/clock.swf">
			<param name="quality" value="high">
			<param name="wmode" value="transparent">
			<embed src="/images/clock.swf" quality="high" wmode="transparent" pluginspage="https://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="200" height="88">
			</object>
        </div>

<div style=" padding-top: 40px; padding-bottom: 20px; ">
  <center>
	<iframe height="110" src="https://www.404le.com/search/index.html" frameborder="0" width="640px" name="iframe_canvas" scrolling="no"></iframe>
  </center>
</div>
    <!-- 搜索 -->
    <div class=" nav_list icon_list">
        <ul class="icon_list">
            <li>
                <a class="icon_box" href="http://www.weibo.com">
                    <img src="https://www.404le.com/images/sitelogo/weibo.gif" />
                    <span>微 博</span>
                </a>
            </li>
            <li>
            	<a class="icon_box" href="http://www.taobao.com">
                    <img src="https://www.404le.com/images/sitelogo/taobao.gif" />
                	<span>淘 宝</span>
                </a>
            </li>
            <li>
                <a class="icon_box" href="http://v.qq.com/">
                    <img src="/images/tenxusp.ico" />
                    <span>腾讯视频</span>
                </a>
            </li>
            <li>
                <a class="icon_box" href="http://www.iqiyi.com/">
                    <img src="/images/aiqiyi.ico" />
                    <span>爱奇艺</span>
                </a>
            </li>
            <li>
                <a class="icon_box" href="http://www.bilibili.com/">
                    <img src="https://www.404le.com/images/sitelogo/bilibili.gif" />
                    <span>bilibili</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="nav_list icon_list">
        <ul class="icon_list">
            <li>
                <a class="icon_box" href="https://pan.baidu.com/">
                    <img src="/images/yun.ico" />
                    <span>百度网盘</span>
                </a>
            </li>
            <li>
                <a class="icon_box" href="http://fanyi.youdao.com/">
                    <img src="/images/fanyi.ico" />
                    <span>有道在线翻译</span>
                </a>
            </li>
            <li>
                <a class="icon_box" href="http://154.8.214.223/users/sign_in">
                    <img src="/images/gitlab.ico" />
                    <span>GitLab</span>
                </a>
            </li>

            <li>
                <a class="icon_box" href="https://mobileoffice.ftlife.com.hk/">
                    <img src="/images/tiaobanji.ico" />
                    <span>跳板机</span>
                </a>
            </li>
            <li>
                <a class="icon_box" href="http://fs.ftlife.com.hk/">
                    <img src="/images/file.ico" />
                    <span>文件传输</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="main">
</div>
<div class="footer">
    <p>© 2019-2020 薄荷网址导航，我的上网主页</p>
</div>
<div style="display:none">

</div>
<script type="text/javascript" color="50,177,108" opacity='1' zIndex="-1" count="100" src="https://www.laomo.me/cdn/js/line.js"></script>

</body>
</html>
