<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
<base target="_blank">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>薄荷网址导航</title>
<meta name="keywords" content="上网导航,网址大全,网址导航"/>
<meta name="description" content="汇集最优秀的网站及资源。及时收录影视、音乐、小说、游戏等分类的网址和内容，让您的网络生活更简单精彩。"/>
<link type="image/x-icon" href="https://www.404le.com/favicon.ico" rel="SHORTCUT ICON" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
<link href="/style/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">

</script>
</head>

<body style="background:url(https://s2.ax1x.com/2019/04/27/EnjOgg.jpg)no-repeat 50% -6px" >
<div class="container" style=" padding-top: 10px; " >
       <div class="topnav">

        </div>
<!--    天气-->
        <div style="padding-left: 1px;margin-top: -35px;">
		    <iframe allowtransparency="true" frameborder="0" width="360" height="64" scrolling="no" src="//tianqi.2345.com/plugin/widget/index.htm?s=2&z=3&t=1&v=2&d=2&bd=0&k=&f=&ltf=009944&htf=cc0000&q=0&e=1&a=1&c=54511&w=360&h=64&align=left"></iframe>
        </div>
        <div style="width: 180px; height:74px;  overflow:hidden;padding-left: 460px;margin-top: -85px;">
			<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="https://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="200" height="88">
			<param name="movie" value="https://www.404le.com/images/clock.swf">
			<param name="quality" value="high">
			<param name="wmode" value="transparent">
			<embed src="https://www.laomo.me/cdn/img/clock.swf" quality="high" wmode="transparent" pluginspage="https://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="200" height="88">
			</object>
        </div>
		

<!-- 搜索 -->
<div style=" padding-top: 40px; padding-bottom: 20px; ">
  <center>
<!--    <img src="https://www.404le.com/images/logo.gif" alt="" style=" padding-bottom: 30px; ">-->
	<iframe height="110" src="https://www.404le.com/search/index.html" frameborder="0" width="640px" name="iframe_canvas" scrolling="no"></iframe></div>
  </center>
<!-- 搜索 -->

    <div class="clearfix nav_list icon_list">
        <div class="clearfix title_bar">
        	<span class="fl title">常用导航</span>
            <div class="fl line_hr"></div>
        </div>
        <ul class="icon_list">
            <li>
            	<a class="icon_box" href="https://www.baidu.com/">
                    <img src="https://www.404le.com/images/sitelogo/baidu.gif" />
                	<span>百 度</span>
                </a>
            </li>

            <li>
            	<a class="icon_box" href="http://www.taobao.com">
                    <img src="https://www.404le.com/images/sitelogo/taobao.gif" />
                	<span>淘 宝</span>
                </a>
            </li>
            <li>
            	<a class="icon_box" href="http://www.tmall.com">
                    <img src="https://www.404le.com/images/sitelogo/tmall.gif" />
                	<span>天 猫</span>
                </a>
            </li>
            <li>
            	<a class="icon_box" href="http://www.jd.com">
                    <img src="https://www.404le.com/images/sitelogo/jd.gif" />
                	<span>京 东</span>
                </a>
            </li>
            <li>
            	<a class="icon_box" href="http://www.weibo.com">
                    <img src="https://www.404le.com/images/sitelogo/weibo.gif" />
                	<span>微 博</span>
                </a>
            </li>
            <li>
            	<a class="icon_box" href="http://qzone.qq.com">
                    <img src="https://www.404le.com/images/sitelogo/qzone.gif" />
                	<span>QQ空间</span>
                </a>
            </li>
            <li>
            	<a class="icon_box" href="http://tieba.baidu.com">
                    <img src="https://www.404le.com/images/sitelogo/tieba.gif" />
                	<span>贴 吧</span>
                </a>
            </li>

			<li>
            	<a class="icon_box" href="http://www.zhihu.com">
                    <img src="https://www.404le.com/images/sitelogo/zhihu.gif" />
                	<span>知 乎</span>
                </a>
            </li> 
            <li>
            	<a class="icon_box" href="http://mail.qq.com/">
                    <img src="https://www.404le.com/images/sitelogo/email.gif" />
                	<span>QQ邮箱</span>
                </a>
            </li> <li>
            	<a class="icon_box" href="http://gmail.google.com/">
                    <img src="/image/gmail.ico" />
                	<span>Gmail</span>
                </a>
            </li>

            <li>
                <a class="icon_box" href="http://v.qq.com/">
                    <img src="/image/tenxusp.ico" />
                    <span>腾讯视频</span>
                </a>
            </li>
            <li>
                <a class="icon_box" href="http://www.iqiyi.com/">
                    <img src="/image/aiqiyi.ico" />
                    <span>爱奇艺</span>
                </a>
            </li>
            <li>
                <a class="icon_box" href="http://www.youku.com/">
                    <img src="https://www.404le.com/images/sitelogo/youku.gif" />
                    <span>优 酷</span>
                </a>
            </li>
            <li>
                <a class="icon_box" href="http://www.xiaomitv.cc/">
                    <img src="/image/TV.ico" />
                    <span>电视直播</span>
                </a>
            </li>

            <li>
                <a class="icon_box" href="http://www.bilibili.com/">
                    <img src="https://www.404le.com/images/sitelogo/bilibili.gif" />
                    <span>bilibili</span>
                </a>
            </li>
            <li>
                <a class="icon_box" href="http://www.douban.com">
                    <img src="https://www.404le.com/images/sitelogo/douban.gif" />
                    <span>豆 瓣</span>
                </a>
            </li>
            <li>
            	<a class="icon_box" href="http://www.4399.com">
                    <img src="https://www.404le.com/images/sitelogo/4399.gif" />
                	<span>4399游戏</span>
                </a>
            </li>

            <li>
            	<a class="icon_box" href="http://www.eastmoney.com">
                    <img src="https://www.404le.com/images/sitelogo/dongfangcaifu.gif" />
                	<span>东方财富</span>
                </a>
            </li>
			<li>
            	<a class="icon_box" href="http://www.suning.com">
                    <img src="https://www.404le.com/images/sitelogo/suning.gif" />
                	<span>苏 宁</span>
                </a>
            </li>   

            <li>
            	<a class="icon_box" href="http://www.autohome.com.cn">
                    <img src="https://www.404le.com/images/sitelogo/autohome.gif" />
                	<span>汽车之家</span>
                </a>
            </li>

            <li>
            	<a class="icon_box" href="http://www.meituan.com">
                    <img src="https://www.404le.com/images/sitelogo/meituan.gif" />
                	<span>美 团</span>
                </a>
            </li>

            <li>
                <a class="icon_box" href="https://pan.baidu.com/">
                    <img src="/image/yun.ico" />
                    <span>百度网盘</span>
                </a>
            </li>
            <li>
                <a class="icon_box" href="http://180.76.117.151:8080/PAYWEB/">
                    <img src="/image/tomcat.ico" />
                    <span>百度云服务器</span>
                </a>
            </li>
            <li>
                <a class="icon_box" href="https://login.bce.baidu.com/">
                    <img src="/image/zyun.ico" />
                    <span>百度智能云</span>
                </a>
            </li>
            <li>
                <a class="icon_box" href="http://fanyi.youdao.com/">
                    <img src="/image/fanyi.ico" />
                    <span>有道在线翻译</span>
                </a>
            </li>
            <li>
                <a class="icon_box" href="http://154.8.214.223/users/sign_in">
                    <img src="/image/gitlab.ico" />
                    <span>GitLab</span>
                </a>
            </li>
            <li>
                <a class="icon_box" href="https://github.com/">
                    <img src="/image/github.ico" />
                    <span>GitHub</span>
                </a>
            </li>
            <li>
                <a class="icon_box" href="https://mobileoffice.ftlife.com.hk/">
                    <img src="/image/tiaobanji.ico" />
                    <span>跳板机</span>
                </a>
            </li>
            <li>
                <a class="icon_box" href="http://fs.ftlife.com.hk/">
                    <img src="/image/file.ico" />
                    <span>文件传输</span>
                </a>
            </li>
            <li>
                <a class="icon_box" href="https://www.rjsos.com/">
                    <img src="/image/office.ico" />
                    <span>办公素材</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="footer">
    <p>© 2019-2020 薄荷网址导航，我的上网主页</p>
</div>
<div style="display:none">

</div>
<script type="text/javascript" color="50,177,108" opacity='1' zIndex="-1" count="100" src="https://www.laomo.me/cdn/js/line.js"></script>

</body>
</html>
